@charset "utf-8";
/* CSS Document */

/* body{font-family:"微软雅黑"; font-size:14px; padding:0; border:0; margin:0; background:#eeeeee;}
img,h1,h2,h3,h5,ul,li,dl,dt,dd,p,a{margin:0; padding:0; border:0; list-style:none; text-decoration:none;}CSS Document
.clear{clear:both;}

.h30{height:30px;} */



/*个人中心*/
/* .subnav{width:255px; margin-right:1px; float:left; height:640px; background:#585858;}
.subnav h3{width:100%; height:67px; line-height:67px; font-size:16px; color:#fff; padding-left:20px; font-weight:normal;}
.mlnav li{  line-height:55px; width:100%; font-size:16px;  }
.mlnav li a{ display:block; width:75%; padding-left:25%; height:55px; line-height:55px; background:url(../images/index/bg02.png) no-repeat; background-size:100% 100%; margin-bottom:1px; color:#fff;}
.mlnav li a:hover,.mlnav li a.hover{ background:url(../images/index/bg01.png) no-repeat; background-size:100% 100%; color:#ff9000;}	
.mlnav li.mlnav_one a{display:block; width:75%; padding-left:25%; height:50px; line-height:50px; background:url(../images/index/bj-1.png) no-repeat; background-size:100% 100%; margin:0;}
.mlnav li.mlnav_two a{display:block; width:75%; padding-left:25%; height:50px; line-height:50px; background:url(../images/index/bj-3.png) no-repeat; background-size:100% 100%; margin:0;}
.mlnav li.mlnav_three a{display:block; width:75%; padding-left:25%; height:50px; line-height:50px; background:url(../images/index/bj-6.png) no-repeat; background-size:100% 100%; margin:0;}
.mlnav li.mlnav_one a:hover,.mlnav li.mlnav_one a.hover{background:url(../images/index/bj-2.png) no-repeat; background-size:100% 100%; color:#2fd9b4;}
.mlnav li.mlnav_two a:hover,.mlnav li.mlnav_twoa.hover{background:url(../images/index/bj-4.png) no-repeat; background-size:100% 100%; color:#ef6e59;}
.mlnav li.mlnav_three a:hover,.mlnav li.mlnav_three a.hover{background:url(../images/index/bj-5.png) no-repeat; background-size:100% 100%; color:#f5d244;}
 */
/* .center_center{width:1023px; float:left; background:#f4f4f4; height:640px; border-right:1px solid #eeeeee;}
.yhzx{width:100%; height:60px; line-height:60px; border-bottom:1px solid #cccccc; background:#fff; position:relative; z-index:1000;}
.yhzx p{float:left; font-size:14px; color:#666666; padding-left:10px;}
.yhzx p span{color:#ff9000; padding-right:15px;}
.yhm{float:right; font-size:20px; color:#666666; position:relative;}
.yhm_img01{margin:0 10px -12px 10px;}
.yhm_img02{margin:0 10px 0 10px;}
.yhm_xl{width:100%; height:100px; background:#ccc; display:none; position:absolute; left:0; top:60px;}
.yhm:hover .yhm_xl{display:block;}
.yhzx_a{display:block; width:69px; height:100%; border-right:1px solid #ccc; background:url(../images/index/img12.png) center center no-repeat; float:right;}
.yhzx_a02{background:url(../images/index/img13.png) center center no-repeat;}
.yhzx_a03{background:url(../images/index/img14.png) center center no-repeat;}
.scroll{width:98%; height:579px; overflow-y:scroll; padding-left:2%;}
.scroll_box{width:97%;}
.scroll_01{padding:20px 0; font-size:14px; color: #939393; line-height:25px;}
.scroll_01_p01{ width:45%; float:left;}
.scroll_01_p02{ font-size:16px; color:#666666; width:30%; float:left;}
.scroll_01_p02 span{font-size:28px; color:#eb4626;}
.scroll_01_p03{width:23%; float:right;}
.scroll_01_p03_btn01{width:104px; height:45px; line-height:45px; background:#ff9000; font-size:20px; color:#fff; text-align:center; border:0; cursor:pointer; float:right; font-family: "微软雅黑";}
.scroll_01_p03_btn02{background:#fff; color:#6b6b6b; font-family: "微软雅黑";}
.scroll_02 li{width:25%; height:190px; float:left; text-align:center; position:relative;}
.scroll_02 li h3{font-size:14px; color:#696969; line-height:44px; font-weight:normal;}
.scroll_02 li img{margin-top:15px;}
.scroll_02 li .scroll_02_p02{font-size:14px; color:#8f8f8f; line-height:22px; vertical-align:bottom; text-align:left; padding-left:7%; position:absolute; bottom:10px;}
.scroll_02 li .scroll_02_p03{padding-left:11%;}
.scroll_02 li.last{float:right; margin:0;}
.color_ef6e59{color:#ef6e59;}
.font18{font-size:18px;}
.color_666666{color:#666;}
.color_1fbba6{color:#1fbba6;}
.color_5faee3{color:#5faee3;}
.scroll_02_p{position:absolute; padding-left:7%; font-size:18px; color:#ef6e59; top:34px;}
.scroll_03{padding:30px 0;}
.scroll_03 li{float:left; width:19%; line-height:28px; height:51px; border-left:2px solid #8dc165; font-size:12px; color:#797979; padding-left:5px;}
.scroll_03 li span{font-size:20px; color:#6c6c6c;}
.scroll_03 li.scroll_03_li02{ border-left:2px solid #2d807f;}
.scroll_03 li.scroll_03_li05{ border-left:2px solid #f04d14;}
.li_box{ width:87%; height:190px; background:#fff; margin:0 auto;}
.slidings{ line-height:66px; background:#eeeeee; border-bottom:1px solid #ccc;
	width:100%;
	height:66px;
	clear:both;}
.slidings li{float:left;height:66px; text-align:center; border-right:1px solid #ccc;}
.slidings li a{font-size:16px; color:#8c8c8c; padding:0 50px;
	display:block;}
.slidings li.hover{ background:#fff; border-top:5px solid #ff9000; height:62px; line-height:60px;}
.slidnr{
	width:100%;
	margin:0 auto 20px;
	clear:#999;
	position:relative;
	clear:both;}	
.sliding_yc{
	display:none;}	
.center_tab{background:#fff;}
.center_tab td{height:50px; font-size:14px; color:#666666;}
.center_tab td a{color:#666666;}
.center_tab td a:hover{color:#ec6517;}
.center_tab_tr{background:#f9fbfa;}
.more{position:absolute; right:0; top:-67px;} */

/*个人中心-互动管理-消息中心（消息设置）*/
/* .xxzx{ font-size:20px; line-height:70px; color:#4f4f4f; font-weight:normal;}
.slidnr02{background:#fff;}
.center_tab02{line-height:32px; margin:0 auto; font-size:14px; color:#666666;}
.center_tab02 .center_tab02_tr01{line-height:50px; font-size:16px;}
.center_tab02 .center_tab02_tr01 strong{font-size:14px;}
.center_tab02_tr02{background:#f6f9fe;}
.center_tab02 tr td:first-child{padding-left:20px;}
.center_tab02 tr.center_tab02_tr01 td:first-child{padding-left:0px;}
.center_btn{width:118px; height:35px; line-height:35px; text-align:center; background:#ff9000; font-size:16px; color:#fff; border:0; cursor:pointer; margin:20px 0; font-family:"微软雅黑"}
 */
/*个人中心-借款管理-借款申请查询*/
/* .page{line-height:50px; text-align:right;}
.page a{color:#b2b2b0; padding:0 10px; font-size:14px;}
.page a:hover{color:#f45a02;}
.page .on{color:#f45a02;}
 */
/*个人中心-理财管理-自动投标*/
/* .zdtb_title{width:80%; height:70px; line-height:70px; border-bottom:1px solid #dcdcdc; font-size:18PX; color:#4a4a4a;}
.zdtb_title span{font-size:14px; padding-left:20px;}
.zdtb_title span em{font-style:normal; color:#b5170e;}
.zdtb_tab{margin:0 auto; font-size:16px; color:#555555; padding-top:20px; line-height:60px;}
.zdtb_tab span{font-size:14px; color:#969696;}
.zdtb_tab td{padding:0 5px;}
.txt{width:168px; height:33px; border:1px solid #dcdcdc; background:none; line-height:33px; text-align:center;}
.txt02{width:110px;} */

/*个人中心-优惠券管理-推荐记录*/
/* .tjjl{width:98%; background:#fff;}
.tjjl_01{width:90%; margin:0 auto;}
.tjjl_date{padding:30px 0; line-height:30px; font-size:14px; color:#666;}
.tjjl_date input{height:30px; line-height:30px; width:118px; border:1px solid #dfdfdf; background:#fff url(../images/index/date.png) right center no-repeat;}
.tjjl_tab td{ height:50px; font-size:14px; color:#4d4d4d;}
.tjjl_tab_tr{background:#f3f6fb;}
 */
/*个人中心-优惠券管理-我的积分（积分兑换）*/
/* .xxzx a{ font-size:14px; color:#2488d1; float:right;}
.xxzx a:hover,.jf a:hover,.cz_tab li a:hover{color:#ec6517;}
.jf{ font-size:14px; color:#777777; padding-bottom:30px;}
.jf span{font-size:18px; padding:0 10px;}
.jf a{color:#2488d1;}
.jf_img{text-align:center; padding:60px 0;}
.tjjl_tab02{width:90%; margin:0 auto; padding:40px 0 0 0;}
.page02{width:90%; margin:0 auto;}
 */

/*个人中心-账户管理-个人信息*/
/* .grxx{padding-left:5%; font-size:14px; color:#737373; line-height:75px;}
.grxx_tab{line-height:50px; font-size:14px; color:#666;}
.grxx_txt{width:260px; height:30px; border:1px solid #dfdfdf; line-height:30px; margin:16px 0; line-height:14px; color:#ccc;}
.grxx_tab02{background:url(../images/index/line02.png) left bottom no-repeat;}
.grxx_tab03{padding-bottom:10px;}
.grxx_tab04{padding-top:10px;}
 */
/*充值*/
/* .cz{padding-left:4%;}
.cz_h3{height:70px; line-height:70px; font-size:14px; color:#999999; border-bottom:1px solid #ededed;}
.cz_h3 img{margin:0 10px -5px 0;}
.cz_tab{line-height:45px; font-size:14px; color:#666; padding:30px 0 10px 0;}
.cz_tab .cz_tab_ul{width:79%;}
.cz_tab .cz_tab_ul li{ float:left; height:48px; line-height:48px; text-align:center; font-size:14px; width:154px; margin-left:-1px; margin-top:-1px;}
.cz_tab .cz_tab_ul li.cz_tab_ul_li{margin-left:0;}
.cz_tab .cz_tab_ul li.cz_tab_ul_li02{margin-top:0;}
.cz_tab .cz_tab_ul li img{border:1px solid #ededed;}
.cz_tab .cz_tab_ul li a{color:#2980b9;}
.ts{width:80%; height:50px; line-height:50px; background:url(../images/index/line03.png) left center repeat-x; font-size:14px; color:#333333;}
.ts strong{background:#fff; padding-right:10px;}
.ts_p{font-size:14px; color:#646464; line-height:25px; padding-bottom:30px; width:83%;}
 */
/*提现*/
/* .tx_p{text-align:right; font-size:14px; color:#737373; margin-top:-20px; line-height:30px;}
.font18{font-size:18px;}
.color_ff9000{color:#ff9000;}
.red{color:red;}
.cz_tab_a{padding-left:10px; color:#2980b9; font-size:12px;}
.cz_tab_a:hover{color:#ec6517;}
.cz_tab_ul02 li{width:25%; height:137px; border:1px solid #cdcdcd; margin-right:15px; float:left; text-align:center; font-size:16px; color:#7e7e7e; line-height:28px;}
.cz_tab_ul02 li img{border:1px solid #cdcdcd; margin-top:15px;}
.kh{width:100%; height:100px; border-bottom:1px solid #cdcdcd;}
.cz_tab_ul02 li p{line-height:38px; font-size:16px;}
.cz_tab_ul02 li p a{color:#ff9000;}
.xg{float:left; padding-left:20%;}
.sc{float:right; padding-right:20%;}
.cz_tab_ul02 li img.jia{border:0; margin:0; width:100%; height:100px;}
 */
/*推荐记录*/
/* .tjjl_date02 input{width:123px; background:#fff url(../images/index/date.png) left center no-repeat; padding-left:32px;}
.tjjl_date input.tjjl_date_input{width:225px; height:30px; margin-right:6%; background:none; background:#fff; padding:0; font-family:"微软雅黑"}
.tjjl_date input.tjjl_date_btn{ width:83px; height:37px; background:#ff9000; font-size:16px; color:#fff; text-align:center; line-height:37px; border:0; cursor:pointer; float:right; margin-left:20px; padding:0; font-family:"微软雅黑"}
.jyjl_tab td{ font-size:14px; height:70px; color:#666666; line-height:25px; background:#fff;}
.jyjl_tab_tr td{background:#f9fbfa;}
.dc{float:left; color:#f47540; line-height:50px;}
.tjjl_date select{margin-right:5%; width:225px;}
 */
/*我要推荐*/
/* .wytj{padding:30px 0;}
.wytj_l{width:41%; float:left; border-right:1px solid #ccc;}
.wytj_l_title{font-size:14px; color:#3c3c3c; line-height:40px;}
.wytj_l_title span{font-size:18px; }
.wytj_l_title img{margin:0 5px -5px 10px;}
.wytj_l_title em{font-style:normal; color:#666666;}
.wytj_l_title a{color:#2980ca; padding-left:5px;}
.wytj_l_title a:hover{color:#ec6517;}
.wytj_tab{line-height:50px; font-size:16px; color:#3c3c3c;}
.wytj_tab span{font-size:24px; color:#2980ca; padding-right:5px;}
.wytj_r{width:44%; float:right;}
.wytj_tab02{line-height:35px; color:#3c3c3c; font-size:14px;}
.wytj_tab02 td{ border-bottom:1px solid #e6e6e6;}
.wytj_tab02_tr td{background:#f3f6fa; border:0;}
.wytj_tab02 span{ color:#ff6600;}
.wytj_tab02 em{font-style:normal; padding:0px 4px; background:#f57b4f; color:#fff; margin-right:5px; font-size:12px;}
.wytj_tab02 img{margin:0 0 -5px 5px;}
.wytj_tab02 b{font-style:normal; background:#999999;padding:0px 4px; color:#fff; margin-right:5px; font-size:12px;}
.wytj_box_p{font-size:14px; color:#3c3c3c; line-height:50px; }
.wytj_box_p img{margin-right:5px;}
.wytj_box_input{font-size:14px; color:#3c3c3c;}
.wytj_box_input input{width:255px; height:30px; line-height:30px; border:1px solid #acaaa9; margin:0 20px;}
.wytj_box_ul{width:60%;}
.wytj_box_ul li{float:left; line-height:50px; font-size:14px; margin:0 5% 0 2%;}
.wytj_box_ul li a{color:#3c3c3c; }
.wytj_box_ul li img{margin:0 10px -6px 0;}
.lj a{color:#3c3c3c; font-size:14px; margin-left:2%;}
.lj a img{margin:0 10px -10px 0;}
.lj a span{color:#2980b9; margin-left:10px; text-decoration:underline;}
.wytj_box{padding-bottom:50px;}
 */


/*安全设置*/
/* .aqlevel{color: #777777;font-size: 14px;margin-left: 20px;}
.aqlevel em{display: inline-block;width: 156px;height: 12px;background-color: #d4d4d4;border-radius: 6px;margin-left: 10px;}
.aqlevel em b{display: inline-block;height: 100%;background-color: #ff9000;border-radius: 6px;}
.aqlevel label{color: #ff9000;margin-left: 10px;}
.safeset-div{background-color: #ffffff;padding: 30px 80px;}
.safe-center{border-left: 1px solid #e1f3fd;border-top: 1px solid #e1f3fd;border-right: 1px solid #e1f3fd;}
.safe-center >div{line-height: 54px;border-bottom: 1px solid #e8e8e8;}
.safe-center >div span{width: 577px;display: inline-block;color: #646464}
.safe-center >div span strong{display: inline-block;width: 170px;text-align: right;margin-right: 20px;color: #000000;}
.safe-center >div>label{display: inline-block;width: 100px;background-color: #e1f3fd;text-align: center;color: #646464;}
.safe-center >div a{margin: 0px 10px;color: #2980b9}
.hide{border-top: 1px solid #e8e8e8;background-color: #f3f6fa;padding: 20px 0px 10px 150px;}
.hide p{line-height: 37px;}
.hide p input{padding: 6px; width:210px;}
.hide label{background: none;display: inline-block;width: 150px;text-align: right; color:#3e3e3e;}
.save-btn{display: inline-block;margin: 10px 0px 10px 150px !important; width: 130px;height: 36px;text-align: center;line-height: 36px;background-color: #ff9000;color: #ffffff !important;font-size: 16px;}
.yes,.no{display: inline-block;width: 20px;height: 20px;background: url(../images/index/yn.png) no-repeat;vertical-align: middle;}
.yes{background-position: 0px -25px;} */
/*邮件读取*/
/* .del-email{display: inline-block;width: 70px;height: 36px;background-color: #ff9000;color: #ffffff;text-align:center;line-height: 36px;font-size: 16px;margin-left: 5%;margin-top: 2%;margin-bottom: 20px}
.center_tab01{border-collapse: collapse;width: 90%;margin: 0 auto;font-size: 14px;padding-bottom: 20px;}
.center_tab01>div{padding: 0px 10px}
.center_tab01 input[type='checkbox']{vertical-align: middle;margin-right: 10px;}
.center_tab01 a.em-name{color: #474747;font-weight: bold;font-size: 14px;}
.center_tab01 a.em-name img{margin-bottom: -3px;margin-right: 5px;}
.center_tab01 p{line-height: 40px; display: inline-block;}
.center_tab01 p.p1{width: 20%}
.center_tab01 p.p2{width: 50%}
.center_tab01 p.p3{width: 28% ; color:#6a6a6a;}
.email-content{padding: 20px;background-color: #fbfbfb;margin: 10px;}
.email-content p{line-height: 25px;color: #8b8a8a}
.mr5{margin-right:5% }


.center_tab02_02{padding-bottom:10px;}
.center_btn_02{width:170px;}
.scroll_none{overflow-y:hidden;}
.grxx_txt03{margin:0;}
.grxx_txt02{width:160px; margin-right:10px;}

 */
/*登陆--单独*/
.password{width:1022px; height:100px; margin:0 auto 19px;}
.password_logo{width:255px; height:100px; background:#fff; float:left; text-align:center;}
.password_r{float:right; color:#747474; padding-top:80px;}
.password_r a{color:#747474; margin:0 5px;}
.password_main{width:1022px; background:#fff; margin:0 auto 120px; box-shadow:2px 2px 2px #dbdada;}
.password_p{font-size:18px; color:#707070; float:left; padding-left:20px; padding-top:75px;}
.land_l{float:left;}
/* 本例子css */
.slideBox{ width:524px; height:508px; overflow:hidden; position:relative; padding:20px; border-right:1px solid #dbdada;}
.slideBox .hd{ height:15px; overflow:hidden; position:absolute; right:30px;bottom:35px; z-index:1; }
.slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
.slideBox .hd ul li{ float:left; margin-left:10px;width:13px; height:13px; text-align:center; line-height:15px; border-radius:50%; background:#fff; cursor:pointer; }
.slideBox .hd ul li.on{ background:#ff8819;}
.slideBox .bd{ position:relative; height:100%; z-index:0;   }
.slideBox .bd li{ zoom:1; vertical-align:middle; }
.slideBox .bd img{ width:100%; height:508px; display:block;  }
.land_r{padding:60px 0 0 100px; float:left;}
.land_r_p{font-size:14px; color:#676767; line-height:50px;}
.land_txt{width:245px;  height:32px; line-height:32px; border:1px solid #aaaaaa; font-size:12px; color:#a6a6a6; padding-left:10px;}
.land_btn{width:255px; height:42px; line-height:42px; font-size:18px; color:#fff; background:#ff9000; border:0; cursor:pointer; font-family:"微软雅黑"}
.land_r_p a{font-size:12px; color:#4bb2dd;}
.land_r_p02 a{font-size:14px; color:#9e9e9e;}
.land_r_p02 a img{margin:0 5px -3px 0;}
.land_r_p03{font-size:14px; color:#858585; line-height:80px;}
.land_r_p03 a{color:#ff9000;}
.clear{clear:both;}
.login_yzm{display: inline-block;float: right;margin-top: 2px;}
.land_r_p input{margin-right: 10px;}


